body{
    background-image: url(./assets/Measuring-Tape.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    background-color:#fffbdf;
    padding: 40px;
    width: 500px;
    justify-content: space-evenly;
    border-radius: 20px;
    align-self: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
#height{
    justify-content: center;
}
#button{
    width: 200px;
    height: 40px;
    background-color: #34656d;
    color:#fffbdf;
    border-radius: 10px;
    margin-top: 25px;
    font-size: large;
}
#height{
    width:250px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-size: large;
}
#weight{
    width: 250px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    border: none;
    font-size: large;
}
#para{
    font-size: x-large;
    font-weight: bold;
}